<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/vagas" class="btn btn-info">Listar Vagas</a></li>
            <li class="list-inline-item"><a routerLink="/ocuparVaga" class="btn btn-info">Ocupar Vaga</a></li>
            <li class="list-inline-item"><a routerLink="/consultarTickets" class="btn btn-info">Consultar Ticket</a></li>
            <li class="list-inline-item"><a routerLink="/pagarTicket" class="btn btn-info">Pagar Estacionamento</a></li>
            <li class="list-inline-item"><a routerLink="/relatorios" class="btn btn-info">Gerar Relatório</a></li>

          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>