<form (ngSubmit)="onSubmit()" class="form-signin text-center">
    
    <label for="inputPlaca" class="sr-only">Código do Ticket</label>
    <input type="text" id="inputPlaca" name="ticket.id" [(ngModel)]="ticket.id" class="form-control" 
    placeholder="Código do Ticket" required="" autofocus="">
    
    <label for="inputTipo" class="sr-only">Horário de Saída</label>
    <input type="text" id="inputTipo" name="ticket.horarioSaida" [(ngModel)]="ticket.horarioSaida" class="form-control" 
    placeholder="YYY-MM-DD HH:MM:SS" required="">    
  
    <button class="btn btn-lg btn-dark btn-block" type="submit">Gerar valor</button>
    
  </form>


  <div class="alert alert-primary" role="alert">
    <h2>Pagamento para o ticket: {{ticket.id}}</h2>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Valor a ser Pago</th>
            <th scope="col">Horário de Chegada</th>
            <th scope="col">Horário de Saída</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ ticket.valorPagamento }} R$</td>
            <td>{{ ticket.horarioChegada }}</td>
            <td>{{ ticket.horarioSaida }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>