<form (ngSubmit)="onSubmit()" class="form-signin text-center">
    
    <label for="inputPlaca" class="sr-only">Código do Ticket</label>
    <input type="text" id="inputPlaca" name="ticket.id" [(ngModel)]="ticket.id" class="form-control" 
    placeholder="Código do Ticket" required="" autofocus="">
    
    <label for="inputTipo" class="sr-only">Valor - R$</label>
    <input type="number" step="0.01" id="inputTipo" name="ticket.valorPago" [(ngModel)]="ticket.valorPago" class="form-control" 
    placeholder="Valor a ser pago em R$" required="">    
  
    <button class="btn btn-lg btn-dark btn-block" type="submit">Pagar Ticket</button>
    
  </form>


  <div class="alert alert-primary" role="alert">
    <h2>Pagamento para o ticket: {{ticket.id}} realizado com sucesso! Obrigado por utilizar nossos serviços.</h2>
  </div>
