<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Posição da Vaga</th>
            <th scope="col">Livre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vaga of vagas">
            <td>{{ vaga.id }}</td>
            <td>{{ vaga.ocupada }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>