<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="estacionamento-model">
        <wb-resource deploy-path="/" source-path="/src/main/java"/>
        <wb-resource deploy-path="/" source-path="/target/generated-sources/annotations"/>
        <wb-resource deploy-path="/" source-path="/target/generated-test-sources/test-annotations"/>
    </wb-module>
</project-modules>
