<form (ngSubmit)="onSubmit()" class="form-signin text-center">
    
    <label for="inputPlaca" class="sr-only">Placa do Automóvel</label>
    <input type="text" id="inputPlaca" name="carro.placa" [(ngModel)]="carro.placa" class="form-control" 
    placeholder="Placa Veiculo" required="" autofocus="">
    
    <label for="inputTipo" class="sr-only">Tipo Automóvel</label>
    <input type="text" id="inputTipo" name="carro.tipo" [(ngModel)]="carro.tipo" class="form-control" 
    placeholder="Tipo do veículo" required="">

    <label for="inputVaga" class="sr-only">Tipo Automóvel</label>
    <input type="text" id="inputVaga" name="vaga.id" [(ngModel)]="vaga.id" class="form-control" 
    placeholder="Código da vaga" required="">
    
  
    <button class="btn btn-lg btn-dark btn-block" type="submit">Reservar Vaga</button>
    
  </form>


  <div class="alert alert-primary" role="alert">
    O código do seu ticket é: {{ticketCode}}. Use o para gerar o valor de pagamento.
  </div>